.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 200px 200px 200px 200px !important;
  -moz-border-radius: 200px 200px 200px 200px !important;
  -webkit-border-radius: 200px 200px 200px 200px !important;
  border: 0px solid #000000 !important;
}

.header-pos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999;
}

.header-pos2 {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999;
}

.ficha{
  border-left-style: solid;
  border-left-color: white;
  opacity: 0.6;
  border-left-width: 7px;
  font: bold !important;
  font-family: Forte !important;
}

.parrafosBold{
  font: bold !important;
}

.movermas{
  padding-left: 80% !important;
}

.verticalpagin{
  display:inline !important;
  padding-right: 97% !important;
}


.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: white !important;
  background-color: black !important;
  border: none !important;
  font: bold !important;
  opacity: 0.6;
}

